
<div class="knowledge-container">
    <h1 class="section-heading section-3-heading">Knowledge</h1>
    <p>
        <span class="group">Skills:</span>  Web Dev, Embedded Dev, Compilers, Networks,
        Artificial Intelligence, Algorithms, Testing, OOP, Agile
    </p>

<br>
<p>
    <span class="group">Languages:</span>  Java, Python, JavaScript, TypeScript, HTML/CSS, C#, C/C++, MATLAB
</p>
    
<br>
<p>
    <span class="group">Frameworks and Tools:</span>  Node.js, Git, Angular, React, Bootstrap, SQL, REST API,
    Excel, SolidWorks, Jenkins, Jasmine
</p>
    
<br>
    <p>
        <span class="group">Hobbies and interests:</span>  Music, Piano, Karaoke, Tennis, Softball, Running
    </p>
<br>
<br>
<br>
<p>
    <span class="group">Courses:</span>
</p>
<div class="box-container">
    <div class="box">
        <ul>
            <li>ECE351 Compilers</li>
            <li>ECE484 Digital Controls</li>
            <li>MTE 481 Mechatronics Capstone Design</li>
            <li>BME122 Data Structures and Algorithms</li>
            <li>ECE457A Cooperative and Adaptive Algorithms</li>
        </ul>
    </div>
    <div class="box">
        <ul>
            <li>ME351 Fluid Mechanics</li>
            <li>MTE360 Automatic Control Systems</li>
            <li>MSCI261 Engineering Economics</li>
            <li>CLAS104 Greek Mythology</li>
            <li>MTE322 Electromechanical Machine Design</li>
        </ul>
    </div>
   



</div>