
<div class="knowledge-container">
    <h1 class="section-heading section-3-heading">Knowledge</h1>
    <p>
        <span class="group">Skills:</span>  Web Dev, Embedded Dev, Compilers, Networks,
        Artificial Intelligence, Algorithms, Testing, OOP, Agile
    </p>

<br>
<p>
    <span class="group">Languages:</span>  Java, Python, JavaScript, TypeScript, HTML/CSS, C#, C/C++, MATLAB
</p>
    
<br>
<p>
    <span class="group">Frameworks and Tools:</span>  Node.js, Git, Angular, React, Bootstrap, SQL, REST API,
    Excel, SolidWorks, Jenkins, Jasmine
</p>
    
<br>
    <p>
        <span class="group">Hobbies and interests:</span>  Music, Piano, Karaoke, Tennis, Softball, Running
    </p>
<br>
<br>
<br>
<p>
    <span class="group">Courses:</span>
</p>
<div class="box-container">
    <div class="box">
        <ul>
            <li class="bold-text">Software Engineering Courses</li>
            <li>ECE351 Compilers</li>
            <li>STAT341 Computational Statistics and Data Analysis</li>
            <li>BME122 Data Structures and Algorithms</li>
            <li>ECE457A Cooperative and Adaptive Algorithms</li>
            <li>ECE457B Computational Intelligence</li>
            <li>MTE241 Real Time Operating Systems</li>
            <li>MTE325 Microprocessor Systems and Interfacing</li>
        </ul>
    </div>
    <div class="box">
        <ul>
            <li class="bold-text">Mechanical/Controls Courses</li>
            <li>MTE360 Automatic Control Systems</li>
            <li>ECE484 Digital Controls</li>
            <li>ME351 Fluid Mechanics</li>
            <li>MTE309 Thermodynamics and Heat Transfer</li>
            <li>MTE320 Acutators and Power Electronics</li>
            <li>MTE322 Electromechanical Machine Design</li>
            <li>ME321 Kinematics and Dynamics of Machines</li>
        </ul>
    </div>
   
</div>