.knowledge-container{
    height:100vh;
    background-color: white;
    padding-left:5%;
    padding-right:5%;
}

.group{
    font-size:30px;
    font-weight:bold;
    text-decoration: underline;
}
.bold-text{
    font-weight: bold;
}
p{
    font-size:20px;
}

.box-container{
    display: flex;
    align-items: flex-start;
}

.box{
    width:450px;
    font-size:20px;
}

.bold-text{
    font-weight: bold;
}