 body{
   position:relative;
 }
 .content {
    position: relative;
    margin-left: 400px;
    padding: 0px 0px;
  }
.night{
  background-color: #292b2c;
}
  .section{
    min-height:100vh;
  }

  @media screen and (max-width: 1000px) {
    .content{
      position: relative;
      margin-left: 0px;
      margin-top:100px;
      padding: 1px 16px;
    }
  }
  @media screen and (max-width: 750px) {
    .content{
      position: relative;
      margin-left: 0px;
      margin-top:200px;
      padding: 1px 16px;
    }
  }