<section id="contact">
<footer class="section-5 center">
    <div class="social-media">
      <a href="https://github.com/lin34/" target="_blank" class="social-media-link">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCQ_UwB-QiQhaJsoc-nnCLcg" target="_blank" class="social-media-link">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="mailto:michael.jlin7@gmail.com" class="social-media-link">
        <i class="fa fa-envelope-square"></i>
      </a>
    <!-- <a href="#none" class="social-media-link">
        <i class="fab fa-instagram-square"></i>
    </a> -->
    </div>
    <p class="copyright">
        Let's stay in touch!
    </p>
  </footer>
  </section>