<div className="d-flex justify-content-center">
    <h1 class="section-heading">Work Experience</h1>
    <div class="projects">
        <div *ngFor="let job of myJobs" class="project">
            <img class="project-img" [src]="job.picture" [alt]="job.company">
            <div class="project-text">
                <h2 class="project-name">{{job.jobName}}</h2>
                <h2 class="project-name">{{job.company}}</h2>
                <h4 class="project-technologies">{{job.duration}}</h4>
                <p>{{job.description}}</p>
            </div>
        </div>
    </div>
</div>