.card-width{
    width:80%;
}
.table-job{
    width:100%;
}

.logo-col {
	width: 20%;
}

.job-col{
    width:50%;
    text-align:left;
}

.duration-col{
    float:right;
    white-space: nowrap;
    text-align:right;
}

.duration-text{
  margin-top:30px !important;
}
.company-logo{
    width:60px;
    height:60px;
    float:left;
}

.text-job-name{
    white-space: nowrap;
}