<div id="work-experience" className="work-height">
    <div className="d-flex justify-content-center">
        <div className="work-section">
            <div class="d-flex justify-content-center">
                <h1 class="font-weight-bold m-5">Work Experience</h1>
            </div>
            
            <div class="d-flex justify-content-center">
                <div class="accordion card-width" id="accordionExample">
                    <div *ngFor="let job of myJobs">
                        <div class="card ">
                            <div class="card-header" [attr.id]="'job' + job.jobId">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-left shadow-none collapsed" type="button"
                                        data-toggle="collapse" [attr.data-target]="'#collapse' + job.jobId"
                                        aria-expanded="false" aria-controls="'collapse' + job.jobId">
                                        <table class="table-job">
                                            <tr>
                                                <td class="logo-col">
                                                    <img [src]="job.picture" class="company-logo" [alt]="job.company">
                                                </td>
                                                <td class="job-col">
                                                    <h5 class="text-job-name font-weight-bold m-2">{{job.jobName}}</h5>
                                                    <p class="m-2">{{job.company}}</p>
                                                </td>
                                                <td class="duration-col">
                                                    <p class="duration-text">{{job.duration}}</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </button>
                                </h2>
                            </div>
                            <div [attr.id]="'collapse' + job.jobId" class="collapse"
                                [attr.aria-labelledby]="'heading' + job.jobId" data-parent="#accordionExample">
                                <div class="card-body">
                                    <ul>
                                        <li *ngFor="let desc of job.description">{{desc}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>