<div class="home-center">
    <h1 class="section-1-heading">
        Software Engineer
      </h1>
        <img src="assets/headshot_small.jpg" alt="Michael Lin" class="person-img" />
    
    
      <h3 class="person-name">Michael Lin</h3>
      <h3 class="person-name"> 4th Year Mechatronics Engineering 2022 University of Waterloo</h3>
      <a href="/hello#projects" class="section-1-btn">Projects</a>
</div>



<!-- <div id="home" class="container-fluid center">
    <p class="hi-text">
        Hi!
    </p>
    <p class="hi-text">
        Thanks for stopping by
    </p>
    <p class="home-text">
        I am a graduating Mechatronics engineering co-op student with two years of combined internship experience.
        I've focused my experience around software development.
        Please feel free to shoot me an email or connect with me on Linkedin. (I don't bite)
    </p>
    <p class="grad-text">
        Seeking new grad opportunities
    </p>
</div> -->