<div id="home" class="container-fluid center">
    <p class="hi-text">
        Hi!
    </p>
    <p class="hi-text">
        Thanks for stopping by
    </p>
    <p class="home-text">
        I am a graduating Mechatronics engineering co-op student with two years of combined internship experience.
        I've focused my experience around software development.
        Please feel free to shoot me an email or connect with me on Linkedin. (I don't bite)
    </p>
    <p class="grad-text">
    Seeking new grad opportunities
    </p>
</div>

