.center{
    padding: 30vh;
    text-align: left;
}
.hi-text{
    color:white;
    font-weight: bold;
    font-size:50px;
}
.home-text{
    color:white;
}
.grad-text{
    color:white;
    font-size:20px;
    font-style: italic;
}