<div class="sidebar">
    <div class="navi-group">
        <img
        src="../../assets/headshot_small.jpg"
        class="portrait-img"
        alt="Portrait shot"
      >
    </div>

    <div class="navi-group">
        <h1 class="font-weight-bold green-color title-name m-2">Michael Lin</h1>
        
    </div>
    <div class="navi-group">
        <h5 class="text-white title-description">
            Fourth Year Mechatronics Engineering
          </h5>
    </div>
    <div class="d-flex justify-content-center">
        <h5 class="text-white title-description">
            University of Waterloo 2022
          </h5>
    </div>

    <div class="navi-group icon-group">
        <a href="mailto:michael.jlin7@gmail.com" target="_blank">
          <i class="bi bi-envelope-fill m-2 icon-logo green-color"></i>
        </a>
        <a href="https://www.linkedin.com/in/lin34/" target="_blank">
          <i class="bi bi-linkedin m-2 icon-logo green-color"></i>
        </a>
        <a href="https://github.com/lin34/" target="_blank">
          <i class="bi bi-github m-2 icon-logo green-color"></i>
              </a>
        <a href="https://www.youtube.com/channel/UCQ_UwB-QiQhaJsoc-nnCLcg" target="_blank">
          <i class="bi bi-youtube m-2 icon-logo green-color"></i>
        </a>
      </div>
    <div class="navi-group">

      <a href="mailto:michael.jlin7@gmail.com" class="m-2">
        <p class="green-color email-text">michael.jlin7@gmail.com</p>
        </a>
    </div>
    <div class="navi-group">
      <nav id="main-nav" class="navbar navbar-dark nav-full-width m-0">
        <nav class="nav-pills navi-links nav-full-width m-0">
          <a class="nav-link nav-link-custom nav-item-text" href="#home">Home</a>
          <a class="nav-link nav-link-custom nav-item-text" href="#project-section">Projects</a>
          <a class="nav-link nav-link-custom nav-item-text" href="#work-experience">Work Experience</a>
        </nav>
      </nav>
    </div>
